{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% block content %}
{% block head %}
  <h4>SignUp</h4>
{% endblock head %}

{% if form.errors %}
            {% for error in form.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}



        {% for field in form %}
            {% bootstrap_field field %}
            {{ field.errors.as_ul }}
        {% endfor %}

    <input type="submit" value="SignUp" class="boxed-btn3 w-100">



  </form>

  {# Assumes you setup the password_reset view in your URLconf #}

{% endblock content %}
