<!doctype html>
{% extends 'base.html' %}
{% load static %}
   {% block post_button %}
      <a class="boxed-btn3" href="{% url 'blog:add_post' %}">New Post</a>
   {% endblock post_button %}
{% block body %}
{% load bootstrap4 %}
{% load post_tag %}
<html class="no-js" lang="zxx">

<body>
   <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->


  <!-- bradcam_area  -->
  <div class="bradcam_area bradcam_bg_1">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="bradcam_text">
                      <h3>{{post.title}}</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ bradcam_area  -->


   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  {%if request.user == post.author%}
                  <div class="button-group-area w-10 mb-3">
                     <a class="genric-btn info radius" href="{% url 'blog:edit_post' post.slug %}">Edit Post</a>
                     <a class="genric-btn danger radius" href="{% url 'blog:delete_post' post.slug %}" >Delete Post</a>
                  </div>
                  {%endif%}
                  <div class="feature-img">
                     <img class="img-fluid" src="{{post.image.url}}" alt="POST IMAGE" >
                  </div>
                  <div class="blog_details">
                     <h2>{{post.title}}</h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="{% url 'accounts:profile' post.author.profile.slug %}"><i class="fa fa-user"></i> {{post.author.first_name}}, {{post.category}}</a></li>
                        <li><a onclick="scrollFunction1()"><i class="fa fa-comments"></i> {{comments|length}} Comments</a></li>
                     </ul>
                     <p class="excert">
                        {{post.content|linebreaks}}
                     </p>


                  </div>
               </div>
               <div class="navigation-top">

                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>

                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        {% if prev_post %}
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="{{prev_post.image.url}}" alt="" width="50px">
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <a href="{% url 'blog:post_detail' prev_post.slug %}"><p>Prev Post</p></a>
                              <a href="{% url 'blog:post_detail' prev_post.slug %}">
                                 <h4>{{prev_post}}</h4>
                              </a>
                           </div>
                        </div>
                        {% endif %}

                        {% if next_post %}
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <a href="{% url 'blog:post_detail' next_post.slug %}"><p>Next Post</p></a>
                              <a href="{% url 'blog:post_detail' next_post.slug %}">
                                 <h4>{{next_post}}</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="{% url 'blog:post_detail' next_post.slug %}">
                                 <img class="img-fluid" src="{{next_post.image.url}}" alt="" width="50px">
                              </a>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="{{prof.image.url}}" alt="">
                     <div class="media-body">
                        <a href="{% url 'accounts:profile' post.author.profile.slug %}">
                           <h4>{{post.author.first_name}} {{post.author.last_name}}</h4>
                        </a>
                        <p>{{post.title}}</p>
                     </div>
                  </div>
               </div>
               <div class="comments-area" id="el1">
                  <h4>{{comments.count}} Comments</h4>
                  {% for comment in comments%}
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="{{comment.commenter.profile.image.url}}" alt="COMMENTER IMAGE">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 {{comment.body}}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="{% url 'accounts:profile' comment.commenter.profile.slug %}">{{comment.commenter.first_name}}</a>
                                    </h5>
                                    <p class="date">{{comment.comment_date|date:'F j, Y \a\t g:i A'}} </p>
                                 </div>
<!--                                 <div class="reply-btn">-->
<!--                                    <a href="#" class="btn-reply text-uppercase">reply</a>-->
<!--                                 </div>-->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
               <div class="comment-form">
                  <h4>Leave a Reply</h4>
                  <form class="form-contact comment_form" method="POST">
                     {% csrf_token %}
                     {% bootstrap_form form%}
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget popular_post_widget">
                     {% latest_posts %}
                  </aside>

               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->



</body>

</html>
{% endblock body %}