<!doctype html>
{% extends 'base.html' %}
{% load bootstrap4 %}

    {% block post_button %}
        <a class="boxed-btn3" href="{% url 'jobs:add_job' %}">Post Job</a>
    {% endblock post_button %}

{% block body %}


    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{job.title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->



    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                {%if request.user == job.owner%}
                  <div class="button-group-area w-10 mb-3">
                     <a class="genric-btn info radius" href="{% url 'jobs:edit_job' job.slug %}">Edit Job</a>
                     <a class="genric-btn danger radius" href="{% url 'jobs:delete_job' job.slug %}" >Delete Job</a>
                  </div>
                {%endif%}
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="{{job.image.url}}" alt="job image" width="50px">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="#"><h4>{{job.title}}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> {{job.location}}</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> {{job.job_type}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        {% if job.description == '' %}
                        {% else %}
                        <div class="single_wrap">
                            <h4>Job description</h4>
                            <p>{{job.description|linebreaks}}</p>
                        </div>
                        {% endif %}

                        {% if job.responsibility == '' %}
                        {% else %}
                        <div class="single_wrap">
                            <h4>Responsibility</h4>
                            <p>{{job.responsibility|linebreaks}}</p>
                        </div>
                        {% endif %}

                        {% if job.qualifications == '' %}
                        {% else %}
                        <div class="single_wrap">
                            <h4>Qualifications</h4>
                            <p>{{job.qualifications|linebreaks}}</p>
                        </div>
                        {% endif %}

                        {% if job.benefits == '' %}
                        {% else %}
                        <div class="single_wrap">
                            <h4>Benefits</h4>
                            <p>{{job.benefits|linebreaks}}</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="apply_job_form white-bg">
                        <h4>Apply for the job</h4>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="submit_btn">
                                <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Job Summery</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Published on: <span>{{job.published_at|date:'d M, Y'}}</span></li>
                                <li>Vacancy: <span>{{job.vacancy}} Position</span></li>
                                <li>Salary: <span>{{min_salary|floatformat}}k - {{max_salary|floatformat}}k/y</span></li>
                                <li>Location: <span>{{job.location}}</span></li>
                                <li>Job Nature: <span> {{job.job_type}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock body %}

