<!doctype html>
{% extends 'base.html' %}
{% load bootstrap4 %}

    {% block post_button %}
        <a class="boxed-btn3" href="{% url 'jobs:add_job' %}">Post Job</a>
    {% endblock post_button %}

{% block body %}


    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Delete Job</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="apply_job_form white-bg">
                        <h4>Job Delete</h4>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <a class="" >do you sure, want to delete: {{object.title}}</a>
                            <div class="submit_btn ml-8">
                                <button class="genric-btn danger radius" type="submit">Delete Job</button>
                                <a class="genric-btn link radius" href="{% url 'jobs:job_detail' object.slug %}" >Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock body %}

